@model POE_ST10152183.Models.Employees

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<p>@ViewBag.Message </p>
<div>
    <h4>Employees</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ELastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ELastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EEmailAddress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
